footer.footer
    .container
        .row
            .col-lg-5.footer__mobile-order-2
                .footer__logo
                    img(
                        src="assets/img/logo-white.svg"
                    ).footer__logo__image
                    .footer__logo__right
                        p.footer__logo__right__copyright © 2020 портал «Генеалогия»
                        a(
                            href="#"
                        ).footer__logo__right__policy Политика конфиденциальности
            .col-lg-7.footer__mobile-order-1
                .footer__columns
                    .footer__columns__column
                        p.footer__columns__title Информация
                        .footer__columns__links
                            a(
                                href="#"
                            ).footer__columns__link Руководство
                            a(
                                href="#"
                            ).footer__columns__link Структура
                            a(
                                href="#"
                            ).footer__columns__link Цели и задачи
                            a(
                                href="#"
                            ).footer__columns__link Вакансии
                            a(
                                href="#"
                            ).footer__columns__link Контакты
                    .footer__columns__column
                        p.footer__columns__title Услуги
                        .footer__columns__links
                            a(
                                href="#"
                            ).footer__columns__link Выдача архивной справки
                            a(
                                href="#"
                            ).footer__columns__link Построение генеалогического древа
                            a(
                                href="#"
                            ).footer__columns__link Проведение генеалогического исследования
                    .footer__columns__column
                        p.footer__columns__title База знаний
                        .footer__columns__links
                            a(
                                href="#"
                            ).footer__columns__link Алфавитный список фамилий
                            a(
                                href="#"
                            ).footer__columns__link Справочник населенных пунктов
                            a(
                                href="#"
                            ).footer__columns__link Документы