header.header
    .container
        .row
            .col-lg-12
                .header__between
                    .header__left
                        .header__language
                            button.header__language__shell
                                span.header__language__shell__text Рус
                                img(
                                    src="assets/img/arrow-bottom-blue.svg"
                                ).header__language__shell__arrow
                    .header__right
                        .header__desktop
                            a(
                                href="#"
                            ).header__profile-desktop
                                img(
                                    src="assets/img/desktop-user.svg"
                                ).header__profile-desktop__picture
                                span.header__profile-desktop__text Личный кабинет
                        .header__mobile
                            a(
                                href="#"
                            ).header__profile-mobile
                                img(
                                    src="assets/img/mobile-user.svg"
                                ).header__profile-mobile__picture
                            button.header__burger
                                img(
                                    src="assets/img/burger.svg"
                                ).header__burger__picture
section.menu-main
    .container
        .row
            .col-lg-12
                .menu-main__between
                    .menu-main__left
                        a(
                            href="#"
                        ).menu-main__logo
                            img(
                                src="assets/img/logo-blue.svg"
                            ).menu-main__logo__image
                            span.menu-main__logo__right
                                span.menu-main__logo__right__top Генеалогия
                                span.menu-main__logo__right__bottom Татарский портал генеалогических данных 
                    .menu-main__right
                        .menu-main__links
                            a(
                                href="#"
                            ).menu-main__link Главная
                            a(
                                href="#"
                            ).menu-main__link База знаний
                            a(
                                href="#"
                            ).menu-main__link Новости
                            a(
                                href="#"
                            ).menu-main__link События
                            a(
                                href="#"
                            ).menu-main__link Статьи
                            a(
                                href="#"
                            ).menu-main__link Услуги
                            a(
                                href="#"
                            ).menu-main__link Информация