include config.pug

- var versionStyleAndSripts = Date.now();

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title 
            block title
        
        script.
            var urlFor = 'genealogy'
            if (window.location.pathname.indexOf("/works/") == 0) {
                var base = document.createElement("base");
                base.setAttribute("href", `/works/${urlFor}/`);
                document.head.appendChild(base);
            }

        block metatags
            meta(
                name="description" 
                content=""
            )

        base(
            href="/"
        )

        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            )
        meta(
            property="og:image" content="./og.jpg"
            )
        meta(
            property="og:title" content=""
            )

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        script.
            $( function() {
                $( "[datepicker]" ).datepicker();
                $.datepicker.regional['ru']={
                    closeText: 'Закрыть',
                    prevText: '&#x3c;Пред',
                    nextText: 'След&#x3e;',
                    currentText: 'Сегодня',
                    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthNamesShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
                    dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
                    dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    weekHeader: 'Нед',
                    dateFormat: 'dd.mm.yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ru']);
            } );
        
        
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">

        

        block links
            link(
                href="assets/css/main.css?v-"+versionStyleAndSripts
                rel="stylesheet"
            )
            
            <link rel="shortcut icon" href="favicon.ico">

            
    body
        -
            var arrayPages = [ 
                ['Главная страница', ''], 

                ['Фамилии', 'surnames'],
                ['Результат поиска', 'result-of-search'],
                ['Поиска без результата', 'search-without-results'],

                ['Hаселенные пункты', 'localities'],
                ['Населенный пункт', 'human-settlement'],
                ['Документы', 'documents'],
                ['Авторизация и регистрация', 'login-and-registration'],
                ['Мои данные', 'my-data'],

                ['Заказы', 'orders'],

                ['Заказ', 'order'],
                ['Страница без заказов', 'page-without-orders'],

                ['Окно выхода', 'are-you-sure'],
                ['Чат с исполнителем', 'chat'],
                ['Руководство', 'management'],
                ['Цели и задачи', 'goals-and-objectives'],
                ['Вакансии', 'job-openings'],
                ['Контакты', 'contacts'],
                ['Услуги', 'service-page'],
            ] 

        .navigation-pages
            .navigation-pages__shell
                - for (let i = 0; i < arrayPages.length; i++) {
                    a(href=""+arrayPages[i][1] onclick="routeAnimation(event)") #{arrayPages[i][0]}
                - }
            button(
                onclick="openNavigationPages()"
            ).navigation-pages__button
        .stick
            block content
        
        script(
            src="assets/js/common.js?v-"+versionStyleAndSripts
        )