extends ../includes/template.pug

block title
    | Genealogy - Article page


block content
    .stick
        .stick__top
            include ../includes/header.pug
            +header()     
            section.article-page
                .container
                    .row
                        .col-lg-9
                            p.article-page__date 14 сентября 2020
                            h1.article-page__headline Участие нашей команды в работе различных научных конференций
                            p.article-page__preview Северный речной вокзал появился на берегу Химкинского водохранилища в 1937 году. Масштабное сооружение похоже на корабль: три яруса открытых галерей напоминают палубы, а центральный шпиль — трубу. Вокзал стал ключевым и самым крупным сооружением Канала имени Москвы, который должен был решить проблему с водоснабжением столицы и сделать Москву-реку судоходной. 
                            .article-page__content
                                h2 История
                                p Соединившись с Волгой, Москва получила звание «порта пяти морей», а вокзал фактически стал речными воротами города. Отсюда можно было доплыть до Белого, Балтийского, Азовского, Черного и Каспийского морей. 
                                p В те годы в здании располагались билетные кассы, залы ожидания, почта, телеграф, кафе, ресторан, парикмахерская, детская комната и служебные помещения. В девяностые объемы речных перевозок сократились и вокзал пришел в упадок несмотря
                                figure
                                    img(
                                        src="assets/tmp/content-1.jpg"
                                    )
                                    figcaption Ольга Алексеенко для Генеалогии
                                p на присвоенный в 1987 году статус памятника. В разное время его приспосабливали под рынок, склад мебели и ночной клуб. Ко второй половине нулевых фасады и плитка разваливались, кровля протекала, а на балконах выросли кусты. Здание начало крениться, к 2010 году его признали аварийным и закрыли.
                                figure
                                    blockquote “Соединившись с Волгой, Москва получила звание «порта пяти морей», а вокзал фактически стал речными воротами города.”
                                    figcaption Ольга Алексеенко
                                h2 Строительство
                                p Канал имени Москвы строили заключенные Дмитровского исправительно-трудового лагеря, который находился в ведении НКВД, поэтому долгое время архивные документы были недоступны. Однако авторы проекта получили к ним доступ, благодаря чему они установили изначальную структуру здания, а также определили авторство проекта. Ранее соавтором архитектора Рухлядева нередко называли Владимира Кринского — они много работали вместе, в том числе над проектом Карамышевского гидроузла в составе канала. Однако на архивных чертежах, набросках и эскизах Северного речного вокзала подпись Кринского отсутствует.
                                p Несмотря на плачевное состояние вокзала, в нем сохранились многие исторические детали: полы из брекчии на главных входах, оселковый мрамор во внутренней отделке, плафоны из нарезного хрусталя, деревянные элементы в гардеробной и часть дверей. Во время исследования в малом зале ожидания на втором этаже вокзала обнаружили живопись. По словам Беляева, реставраторам повезло: «В 1990-е людям, возможно, было лень штукатурить стены, и они просто закрыли их гипсокартоном». Остальные интерьеры также привели в первоначальный вид: отреставрировали потолочные росписи, панно, витражи с государственными гербами советских республик в главном холле, альфрейную роспись в кабинете директора вокзала. 
                                h3 Несмотря на плачевное состояние вокзала, в нем сохранились многие исторические детали:
                                ul
                                    li Полы из брекчии на главных входах
                                    li Оселковый мрамор во внутренней отделке
                                    li Плафоны из нарезного хрусталя
                                    li Деревянные элементы в гардеробной и часть дверей
                                p Во время исследования в малом зале ожидания на втором этаже вокзала обнаружили живопись. По словам Беляева, реставраторам повезло: «В 1990-е людям, возможно, было лень штукатурить стены, и они просто закрыли их гипсокартоном». Остальные интерьеры также привели в первоначальный вид: отреставрировали потолочные росписи, панно, витражи с государственными гербами советских республик в главном холле, альфрейную роспись в кабинете директора вокзала. 
                            .article-page__shares
                                a(
                                    href="#"
                                ).article-page__share
                                    img(
                                        src="assets/img/fb.svg"
                                    ).article-page__share__picture
                                a(
                                    href="#"
                                ).article-page__share
                                    img(
                                        src="assets/img/inst.svg"
                                    ).article-page__share__picture
                                a(
                                    href="#"
                                ).article-page__share
                                    img(
                                        src="assets/img/tw.svg"
                                    ).article-page__share__picture
                                a(
                                    href="#"
                                ).article-page__share
                                    img(
                                        src="assets/img/vk.svg"
                                    ).article-page__share__picture
            section.other-articles
                .container
                    .row
                        .col-lg-12
                            .other-articles__head
                                h2.other-articles__headline Другие новости
                                a(
                                    href="#"
                                ).other-articles__all-articles
                                    span.other-articles__all-articles__text Все новости
                                    span.other-articles__all-articles__arrow
                                        <svg class="articles__all-articles__arrow__picture" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.82346 4.35095H0.700622C0.464389 4.35095 0.273438 4.15957 0.273438 3.92377C0.273438 3.68796 0.464389 3.49658 0.700622 3.49658H6.82346C7.05969 3.49658 7.25064 3.68796 7.25064 3.92377C7.25064 4.15957 7.05969 4.35095 6.82346 4.35095Z" fill="white"/>
                                            <path d="M4.74331 7.12004C4.64848 7.12004 4.55322 7.08843 4.47376 7.02393C4.2905 6.87484 4.26359 6.60571 4.41267 6.42288L6.45718 3.91659L4.64335 1.56835C4.49896 1.38167 4.53314 1.1134 4.72024 0.969014C4.90735 0.824198 5.17562 0.860082 5.31916 1.04591L7.34017 3.66241C7.46149 3.81962 7.4585 4.03962 7.33291 4.19383L5.07395 6.96284C4.99023 7.06622 4.8672 7.12004 4.74331 7.12004Z" fill="white"/>
                                        </svg>
                .container.other-articles__shell-articles
                    .row
                        .col-lg-6.col-md-6
                            a(
                                href="#"
                            ).other-articles__article
                                img(
                                    src="assets/tmp/2.jpg"
                                ).other-articles__article__picture
                                span.other-articles__article__info
                                    span.other-articles__article__date 15 сентября
                                    span.other-articles__article__title Цифровые технологии на службе архивного дела
                        .col-lg-6.col-md-6
                            a(
                                href="#"
                            ).other-articles__article
                                img(
                                    src="assets/tmp/3.jpg"
                                ).other-articles__article__picture
                                span.other-articles__article__info
                                    span.other-articles__article__date 23 сентября
                                    span.other-articles__article__title Специфика изучения генеалогии различных сословных и социальных общностей    
                        .col-lg-6.col-md-6
                            a(
                                href="#"
                            ).other-articles__article
                                img(
                                    src="assets/tmp/4.jpg"
                                ).other-articles__article__picture
                                span.other-articles__article__info
                                    span.other-articles__article__date 5 октября
                                    span.other-articles__article__title Выставка к 100-летию красной армии
                .container
                    .row
                        .col-lg-12
                            .other-articles__mobile
                                a(
                                    href="#"
                                ).other-articles__all-articles
                                    span.other-articles__all-articles__text Все новости
                                    span.other-articles__all-articles__arrow
                                        <svg class="articles__all-articles__arrow__picture" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.82346 4.35095H0.700622C0.464389 4.35095 0.273438 4.15957 0.273438 3.92377C0.273438 3.68796 0.464389 3.49658 0.700622 3.49658H6.82346C7.05969 3.49658 7.25064 3.68796 7.25064 3.92377C7.25064 4.15957 7.05969 4.35095 6.82346 4.35095Z" fill="white"/>
                                            <path d="M4.74331 7.12004C4.64848 7.12004 4.55322 7.08843 4.47376 7.02393C4.2905 6.87484 4.26359 6.60571 4.41267 6.42288L6.45718 3.91659L4.64335 1.56835C4.49896 1.38167 4.53314 1.1134 4.72024 0.969014C4.90735 0.824198 5.17562 0.860082 5.31916 1.04591L7.34017 3.66241C7.46149 3.81962 7.4585 4.03962 7.33291 4.19383L5.07395 6.96284C4.99023 7.06622 4.8672 7.12004 4.74331 7.12004Z" fill="white"/>
                                        </svg>
        include ../includes/footer.pug