extends ../includes/template.pug

block title
    | Genealogy - Goals and objectives


block content
    .stick
        .stick__top
            include ../includes/header.pug
            +header({current: "info"}) 
            section.goals-and-objectives
                .container
                    .row
                        .col-lg-12
                            .tabs-with-headline
                                h2.tabs-with-headline__headline Информация
                                .tabs-with-headline__tabs
                                    a(
                                        href="management"
                                    ).tabs-with-headline__tab
                                        span.tabs-with-headline__tab__text Руководство
                                    a(
                                        href=""
                                    ).tabs-with-headline__tab 
                                        span.tabs-with-headline__tab__text Структура
                                    a(
                                        href="goals-and-objectives"
                                    ).tabs-with-headline__tab.tabs-with-headline__tab_active  
                                        span.tabs-with-headline__tab__text Цели и задачи
                                    a(
                                        href="job-openings"
                                    ).tabs-with-headline__tab 
                                        span.tabs-with-headline__tab__text Вакансии
                                    a(
                                        href="contacts"
                                    ).tabs-with-headline__tab 
                                        span.tabs-with-headline__tab__text Контакты
                        .col-lg-8
                            h1.goals-and-objectives__headline Цели и задачи
                            .goals-and-objectives__section
                                h2.goals-and-objectives__subtitle Главные цели нашего портала
                                .goals-and-objectives__content
                                    p Соединившись с Волгой, Москва получила звание «порта пяти морей», а вокзал фактически стал речными воротами города. Отсюда можно было доплыть до Белого, Балтийского, Азовского, Черного и Каспийского морей. 
                                    p В те годы в здании располагались билетные кассы, залы ожидания, почта, телеграф, кафе, ресторан, парикмахерская, детская комната и служебные помещения. В девяностые объемы речных перевозок сократились и вокзал пришел в упадок несмотря
                                    ul
                                        li Полы из брекчии на главных входах
                                        li Оселковый мрамор во внутренней отделке
                                        li Плафоны из нарезного хрусталя
                                        li Деревянные элементы в гардеробной и часть дверей
                                    p Во время исследования в малом зале ожидания на втором этаже вокзала обнаружили живопись. По словам Беляева, реставраторам повезло: «В 1990-е людям, возможно, было лень штукатурить стены, и они просто закрыли их гипсокартоном». Остальные интерьеры также привели в первоначальный вид: отреставрировали потолочные росписи, панно, витражи с государственными гербами советских республик в главном холле, альфрейную роспись в кабинете директора вокзала. 
                            .goals-and-objectives__section
                                h2.goals-and-objectives__subtitle Задачи, которые мы ставим
                                .goals-and-objectives__content
                                    p Соединившись с Волгой, Москва получила звание «порта пяти морей», а вокзал фактически стал речными воротами города. Отсюда можно было доплыть до Белого, Балтийского, Азовского, Черного и Каспийского морей. 
                                    p В те годы в здании располагались билетные кассы, залы ожидания, почта, телеграф, кафе, ресторан, парикмахерская, детская комната и служебные помещения. В девяностые объемы речных перевозок сократились и вокзал пришел в упадок несмотря
                                    p Во время исследования в малом зале ожидания на втором этаже вокзала обнаружили живопись. По словам Беляева, реставраторам повезло: «В 1990-е людям, возможно, было лень штукатурить стены, и они просто закрыли их гипсокартоном». Остальные интерьеры также привели в первоначальный вид: отреставрировали потолочные росписи, панно, витражи с государственными гербами советских республик в главном холле, альфрейную роспись в кабинете директора вокзала. 

                                
        include ../includes/footer.pug