extends ../includes/template.pug

block title
    | Genealogy - Surnames


block content
    .stick__top
        include ../includes/header.pug
        +header()
        section.surnames-page
            .container
                .row
                    .col-lg-12
                        .tabs-with-headline
                            h2.tabs-with-headline__headline База знаний
                            .tabs-with-headline__tabs
                                a(
                                    href="surnames"
                                ).tabs-with-headline__tab.tabs-with-headline__tab_active
                                    span.tabs-with-headline__tab__text Фамилии
                                a(
                                    href="localities"
                                ).tabs-with-headline__tab
                                    span.tabs-with-headline__tab__text Hаселенные пункты
                                a(
                                    href="documents"
                                ).tabs-with-headline__tab
                                    span.tabs-with-headline__tab__text Документы
                        h1.surnames-page__headline Фамилии
                        form.default-search
                            input(
                                type="text"
                                placeholder="Поиск по фамилии"
                            ).default-search__field
                            button.default-search__submit
                        p.search-without-results К сожалению, ничего не найдено
                                                          
    include ../includes/footer.pug